.site-header{grid-template-columns:1fr}
.site-header nav{font-size:13px;gap:42px;grid-column:1;justify-content:center}
.site-header nav a{letter-spacing:-.02em}
@media(max-width:700px){.site-header nav{font-size:12px;gap:28px}}
