
@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");

body {
    background-color: #e5e5e5;
    font-family: 'Tektur', cursive;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 0 auto;
}
.card {
    background: white;
    padding: 30px;
    margin: 20px 0;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.img-circle {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;

}

.text-center {
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Tektur', cursive;
    color: #0b3142;
    margin: 15px 0;
}

h1 {
    font-size: 55px;
    line-height: 1.5;
}

h2 {
    font-size: 30px;
    line-height: 1.5;
}
h3 {
    font-size: 24px;
    line-height: 1.5;
}


.list-inline {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.list-inline > li {
    display: inline-block;
    padding: 0 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
